#wrap{
    width: 800px;
    border: 1px solid black;
    margin: 20px auto;
    padding: 20px;
    position: relative;
}
header,footer{
    height: 200px;
    width: 500px;           
    border: 1px solid black;
    
}
header {
    background: rgb(77, 73, 128);
}
header div {
    height: 170px;
    width: 300px;
    background: pink;
    margin: 10px 40px;
}
section{
    height: 400px;
    width: 500px;
    border: 1px solid black;
    position: relative;
}
header,section,article{
    margin-bottom: 20px;

}
.box1, .box2 {
    height: 170px;
    width: 300px;
    background: green;
}
.box1 {
    position: absolute;
    right: 10px;
    top: 10px;
}
.box2 {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#sidebar{
    width: 270px;
    height: 860px;
    border: 1px solid black;
    position: absolute;
    top: 20px;
    right: 20px;
}